*{
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-color: #5CDB95;
}

.grid-container{
    display: grid;
    
    grid-template-columns: repeat(3, 25vw);
    gap: 12em;
}

[class*="cat"]{
    display: table-column;
    row-gap: 2em;
    column-gap: 50px;
    height: 10em;
    width: 10em;
}

.card-image{
    height: 15em;
    width: 20em;
    
}
.card-container{
    height: 20em;
    width: 25em;
    background-color: #555;
    margin-top: 4em;
}