*{
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-color: #5CDB95;
}



.logout{
    height: 3em;
    width: 3em;
    position:absolute
}
/*buttons*/
@keyframes bigCircle {
    0%,100% {
        transform: scale(1.0);
    }
    25%,75% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.5);
    }
}

.dotHome {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 24%;
    right: 92%;
    background-color: #053864;
    border-radius: 50%;
    display: inline-block;
}
.dotHome1 {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 24%;
    right: 92%;
    background-color: #053864;
    border-radius: 50%;
    display: inline-block;
    z-index: -1;
    opacity: 0.5;
    animation: bigCircle 1.5s linear infinite;
}
.homeButton{
    position: absolute;
    text-indent: 1.5vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2.2vw;
    letter-spacing: 0.01vw;
    color: white;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    vertical-align: middle;
    display: inline-block;
    left: 7%;
    top: 23.8%;
    margin: 0.25vw;
    padding: 0.1vw;
    text-align: justify;
}
.dotHome:hover {
    /*animation: bigCircle 2s linear infinite;*/
    transform: scale(1.15);
    cursor: pointer;
}
.dotHome:not(:hover) + .dotHome1{ /* scale-ul din animatie induce in eroare hover-ul*/
    display: none;
    opacity: 0.5;
}

.dotMap {
    position: absolute;
    opacity: 0.6;
    height: 3vw;
    width: 3vw;
    top: 48%;
    right: 86%;
    background-color: #053864;
    border-radius: 50%;
    display: inline-block;
}
.dotMap1{
    position: absolute;
    opacity: 0.6;
    height: 3vw;
    width: 3vw;
    top: 48%;
    right: 86%;
    background-color: #053864;
    border-radius: 50%;
    display: inline-block;
    z-index: -1;
    opacity: 0.5;
    animation: bigCircle 1.5s linear infinite;
}
.mapButton{
    opacity: 0.6;
    position: absolute;
    text-indent: 1.5vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2.2vw;
    letter-spacing: 0.01vw;
    color: white;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    vertical-align: middle;
    display: inline-block;
    left: 13%;
    top: 47.5%;
    margin: 0.25vw;
    padding: 0.1vw;
    text-align: justify;
}
.dotMap:hover{
    /*animation: bigCircle 3s linear infinite;*/
    cursor: pointer;
    transform: scale(1.15);
}
.dotMap:not(:hover)  + .dotMap1  { /* scale-ul din animatie induce in eroare hover-ul*/
    display: none;
    z-index: 10;
    opacity: 0.5;
}

.dotCam {
    position: absolute;
    opacity: 0.6;
    height: 3vw;
    width: 3vw;
    top: 71%;
    right: 92%;
    background-color: #053864;
    border-radius: 50%;
    display: inline-block;
}
.dotCam1{
    position: absolute;
    opacity: 0.6;
    height: 3vw;
    width: 3vw;
    top: 71%;
    right: 92%;
    background-color: #053864;
    border-radius: 50%;
    display: inline-block;
    z-index: -1;
    opacity: 0.5;
    animation: bigCircle 1.5s linear infinite;
}
.camButton{
    opacity: 0.6;
    position: absolute;
    text-indent: 1.5vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2.2vw;
    letter-spacing: 0.01vw;
    color: white;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    vertical-align: middle;
    display: inline-block;
    left: 7%;
    top: 70.5%;
    margin: 0.25vw;
    padding: 0.1vw;
    text-align: justify;
}
.dotCam:hover{
    /*animation: bigCircle 3s linear infinite;*/
    cursor: pointer;
    transform: scale(1.15);
}
.dotCam:not(:hover) + .dotCam1{ /* scale-ul din animatie induce in eroare hover-ul*/
    opacity: 0.5;
    z-index: 10;
    display: none;
}

/*box*/
.container {
    margin: 0.1vw;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    position: absolute;
    background-color: #000;
    padding: 2.7%;
    opacity: .5;
    top: 5%;
    left: 21%;
    bottom: 5%;
    right: 28%;
    color: #fff;
    border-radius: 6vw;
}


.font{
    text-indent: 1.5vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 150%;
    letter-spacing:  0.01vw;
    word-spacing: 0.1vw;
    color: white;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal; 
    text-transform: none;
    vertical-align: middle;
    display: inline-block;
    margin: 0.25vw;
    padding: 0.1vw;
    text-align: justify;
    display: flex; 
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

/*cats*/
.one{
    position: absolute;
    top: 15%;
    right: 9%;
    left: 76%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit:cover;
    justify-content:flex-start;
    border-spacing: 0;
}

.imagini{
    position: absolute;
    top:15%;
    right: 19%;
}
.one{
    position: relative;
    top: 15%;
    right: 9%;
    left: 76%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit:cover;
    justify-content:flex-start;
    border-spacing: 0;
}

.grid-container{
    position: relative;
    display: grid;
    top:58%;
    left:91%;
    grid-template-columns: repeat(3, 3vw);
    gap: 2vw;
}

.card-image{
    height: 4vw;
    width: 4vw;
    margin-left: 10%;
    margin-top: 20%;
    margin-bottom: 50%;
    cursor: pointer;
    border-radius: 50%;
}

[class*="cat"]{
    display: table-column;
    row-gap: 2vw;
    column-gap: 2vw;
    height: 2vw;
    width: 4vw;
}
@media screen and (max-width: 1000px) {/*butoanew mai mari pe size mai mic?*/
    .one{
        position: relative;
        top: 100%;
        right: 50%;
        left: 34%;
        width: 35vw;
        height: 35vw;
        border-radius: 50%;
        object-fit:cover;
        justify-content:flex-start;
        border-spacing: 0;
    }
    .dotHome {
        position: absolute;
        height: 3vw;
        width: 3vw;
        top: 5%;
        right: 75%;
        background-color: #053864;
        border-radius: 50%;
        display: inline-block;
    }
    .dotHome1 {
        position: absolute;
        height: 3vw;
        width: 3vw;
        top: 5%;
        right: 75%;
        background-color: #053864;
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
        opacity: 0.5;
        animation: bigCircle 1.5s linear infinite;
    }
    .homeButton{
        position: absolute;
        text-indent: 1.5vw;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 2.2vw;
        letter-spacing: 0.01vw;
        color: white;
        font-weight: 700;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: small-caps;
        text-transform: none;
        vertical-align: middle;
        display: inline-block;
        left: 18%;
        top: 10%;
        margin-bottom: 1.8vw;
        padding: -0.2vw;
        text-align: justify;
    }
    .dotMap {
        position: absolute;
        opacity: 0.6;
        height: 3vw;
        width: 3vw;
        top: 5%;
        right: 50%;
        background-color: #053864;
        border-radius: 50%;
        display: inline-block;
    }
    .dotMap1{
        position: absolute;
        opacity: 0.6;
        height: 3vw;
        width: 3vw;
        top: 5%;
        right: 50%;
        background-color: #053864;
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
        opacity: 0.5;
        animation: bigCircle 1.5s linear infinite;
    }
    .mapButton{
        opacity: 0.6;
        position: absolute;
        text-indent: 1.5vw;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 2.2vw;
        letter-spacing: 0.01vw;
        color: white;
        font-weight: 700;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: small-caps;
        text-transform: none;
        vertical-align: middle;
        display: inline-block;
        left: 44.8%;
        top: 10%;
        margin: 0.1vw;
        padding: 0.1vw;
        text-align: justify;
    }
    .dotCam {
        position: absolute;
        opacity: 0.6;
        height: 3vw;
        width: 3vw;
        top: 5%;
        right: 25%;
        background-color: #053864;
        border-radius: 50%;
        display: inline-block;
    }
    .dotCam1{
        position: absolute;
        opacity: 0.6;
        height: 3vw;
        width: 3vw;
        top: 5%;
        right: 25%;
        background-color: #053864;
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
        opacity: 0.5;
        animation: bigCircle 1.5s linear infinite;
    }
    .camButton{
        opacity: 0.6;
        position: absolute;
        text-indent: 1.5vw;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 2.2vw;
        letter-spacing: 0.01vw;
        color: white;
        font-weight: 700;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: small-caps;
        text-transform: none;
        vertical-align: middle;
        display: inline-block;
        left: 68%;
        top: 10%;
        margin: 0.1vw;
        padding: 0.1vw;
        text-align: justify;
    }
    .container {
        margin: 0.1vw;
        margin-bottom: 0;
        position: relative;
        display: inline-block;
        position: absolute;
        background-color: #000;
        padding: 2.7%;
        opacity: .5;
        top: 15%;
        left: 10%;
        bottom: 5%;
        right: 10%;
        color: #fff;
        border-radius: 6vw;
    }
    .grid-container{
        position: relative;
        display: grid;
        top:140%;
        left:35%;
        right:50%;
        grid-template-columns: repeat(3, 8vw);
        gap: 5vw;
    }
    .card-image{
        height: 7vw;
        width: 7vw;
        margin-left: 10%;
        margin-top: 20%;
        margin-bottom: 50%;
        cursor: pointer;
        border-radius: 50%;
    }
    .imagini{
        position: absolute;
        top:100%;
        right: 45%;
    }
}

.heart{
    margin-right: 0%;
}

